.category {
    background: blue;
    color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.category:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}